@font-face {
  font-family: 'iconfont';  
  src: url('https://at.alicdn.com/t/font_401029_i2n8qovjjfumzpvi.eot');
  src: url('https://at.alicdn.com/t/font_401029_i2n8qovjjfumzpvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401029_i2n8qovjjfumzpvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401029_i2n8qovjjfumzpvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401029_i2n8qovjjfumzpvi.svg#iconfont') format('svg');
}

/* 头部 */
#head{
	width: 100%;
	height: 40px;
	background: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head-l{
	
	height: 40px;
	float: left;
}


.head-weizi{
	float: left; 
	line-height: 40px;
	font-size: 12px;
	margin-right: 7px;
	color: #b0b0b0;
}
.head-weizi1{
	margin-right: 0;
}

.head-weizi a{
	color: #b0b0b0;
}
.head-weizi a:link{
	
	color: gold;
}
.head-weizi a:visited{
	
	color: hsl(300, 100%, 90%);
}
.head-weizi a:hover{
	
	color: orange;
}
.head-weizi a:active{
	
	color: orangered;
}
.head-weizi a{
	color: #b0b0b0;

}

.head-r{
	
	height: 40px;
	float: right;
}
.gowuche{
	width: 103px;
	height: 40px;
	float:left;
	margin-left: 26px;
	padding-left: 17px;
}
.iconfont{

    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
   
}
.gowuche i{
	 line-height: 40px;
	 color: #b0b0b0;

}
.gwc{
	line-height: 40px;
	font-size: 12px;
	float: right;
	color: #b0b0b0;
	margin-right: 10px;

}


/* 导航栏 */
.nav{
	width: 1226px;
	height: 55px;
	margin-top: 22px;	
}
.icon{
	width: 57px;
	height: 57px;
	background-image: url('../img/mi.png');
	float: left;

}
.nav-center{
	height: 55px;
	margin-left: 189px;
	float: left;
	
}
.nav-r{
	width: 294px;
	height: 48px;
	float: right;
	border: 1px solid #e0e0e0;
	margin:3px 0 13px;

}
.nav-weizi{
	float: left;
	line-height: 55px;
	font-size: 15px;
	margin-right: 20px;
	color: #333;
	font-family:"微软雅黑"；
}
.nav-weizi1{
	margin-right: 0;

}
.nav-r1{
	width: 78px;
	height: 18px;
	float: left;
	margin-left: 138px;
	margin-top: -34px;
	font-size: 11px;
	position: absolute;

	

}
.r2{
	width: 67px;
	height: 18px;
	float: left;
	margin-left: 53px;

}
.nav-r3{
	width: 50px;
	height: 48px;
	float: right;
}
.nav-img{
	width: 17px;
	height: 18px;
	margin: 15px 17px 15px 16px ;
}
 
input{
	width: 240px;
	height: 45px;
	position: relative;
}

/* banner */
.banner{
	width: 1226px;
	height: 460px;
	background: #000;
	margin: 0 auto;
	margin-top: 23px;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
}
.bannerbox{
	width: 1226px;
	height: 460px;
}
.bannerbox li{
	position: absolute;
	width: 1226px;
	height: 460px;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1s;
}

.bannerbox li a{
	display: block;
}

.bannerbox li.active{
	z-index: 2;
	opacity: 1;
}
.banner-img .lunbodian{
	position: absolute;
	width: 200px;
	height: 23px;
	right: 64px;
	bottom: 18px;
	display: flex;
	justify-content: space-around;;
	z-index: 999;
}
.lunbodian li{
	width: 10px;
	height: 10px;
	background:pink;
	border-radius: 50%;
	

}
.lunbodian li:hover{
	background: red;
}
.lunbodian .active{
	background: red;
}

.banner .arrow{
	width: 30px;
	height: 60px;
	background: rgba(255, 255, 255, .1);
	font-size: 26px;
	line-height: 60px;
	text-align: center;
	color: #666;
	position: absolute;
	top: 200px;
	cursor: pointer;
	z-index: 999;
	transition: 1s;
}
.banner .arrow:hover{
	background: rgba(255, 255, 255, .4);
	color: #fff;
}
.banner .arrow-l{
	left: 250px;
}
.banner .arrow-r{
	right: 0;
}






.banner-l{
	width: 234px;
	height: 460px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;


}
.banner-l ul{
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.banner-l ul li{
	width: 200px;
	height: 42px;
	font-size: 14px;
	line-height: 42px;
	padding-left: 34px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	top: 0;
	left: 0;

}
.banner-l ul li:hover{
	background: rgba(250, 123, 10, 0.8);
}

.banner-l ul li a{
	float: left;
	display: inline-block;
	color: #fff;
}
.banner-l ul li span{
	/* width: 40px;
	height: 42px; */
	float: right;
	display: inline-block;
	font-size: 22px;
	color: #999;
	margin-right: 15px;
}


/* banner下面一栏 */
.conter{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
}
.conter-img1{
	width: 316px;
	height: 170px;
	background: red;
	float: left;
	margin-right: 14px;

}
.img2{
	width: 234px;
	height: 170px;
	background: #5f5750;
}
.img3{
	margin-right: 0;
}
.conter-img1 ul li{
	width: 76px;
	height: 82px;
	float: left;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;

}
.conter-img1 ul .li3{
	border-right: none;
}
.conter-img1 ul .li4{
	border-bottom: none;
}
.conter-img1  a{
	width: 70px;
	height: 55px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
.conter-img1  a span{
	display: block;
	font-size: 14px;
	color: #f5f5f5;
	margin-top: 5px;
}

.conter-img1  a i{
	font-size: 24px;
	color: #f5f5f5;

}
/* 单品开始 */

.danpin{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
	margin-top: 26px;
}
.danpin-top{
	width: 100%;
	height: 58px;
}
.danpin-top h1{
	font-size: 22px;
	color: #333;
	line-height: 58px;
	float: left;
}
.danpin-top-right{
	width: 70px;
	height: 25px;
	/* background: #000; */
	float: right;
	border: 1px solid #e0e0e0;
	margin-top:23px;
}
.top-ico{
	width: 24px;
	height: 25px;
	float: left;
	padding-left: 10px;
	font-size: 20px;
	border-right: 1px solid #e0e0e0;
	color: #333;
	cursor: pointer;
	user-select: none;

}

.top-ico:hover{
	color: red;

}
.danpin-top-right .top-ico1{
	color: #ccc;
}


.danpin-bottom{
	width: 1226px;
	height: 380px;
	overflow: hidden;
}
.danpin-bottom .goods{
	width: 2466px;
	height: 380px;
	transition:margin-left 1.5s linear;
}
.danpin-list{
	width: 234px;
	height: 300px;
	border-top: 1px solid pink;
	padding-top: 39px;
	float: left;
	margin-right: 14px;

}
.danpin-list1{
	margin-right: 0px;
}
.danpin-img{
	width: 160px;
	height: 166px;
	margin: 0 auto;
}
.danpin-list h3{
	font-size: 14px;
	color: #212121;
	text-align: center;
	line-height: 14px;
	margin-top: 22px;
}
.danpin-list h4{
	font-size: 12px;
	color:#b0b0b0;
	text-align: center;
	line-height: 12px;
	margin-top: 10px;
}
.danpin-list h5{
	font-size: 12px;
	color: orange;
	text-align: center;
	line-height: 12px;
	margin-top: 10px;
}




/* 家电 */
.beijing{
	width: 100%;
	height: 5550px;
	background: #f5f5f5;
}


.family{
	width: 1226px;
	height: 664px;
	margin: 0 auto;
	margin-top: 40px;
	padding-top: 50px;
	overflow: hidden;
}
.family-top{
	width: 100%;
	height: 60px;
	
}

.family-top h3{
	font-size: 22px;
	line-height: 60px;
	float: left;
}
.family-wenzi{
	float: right;
	margin-bottom: 10px;
}
.wenzi1{
	float: left;
	line-height: 25px;
	margin-right: 32px;
	font-size: 15px;
}
.family-wenzi .wenz1{
	color: orange;
	border-bottom: 2px solid orangered;
}
.wenzi2{
	margin-right: 0;
}


.btom{
	width: 100%;
	height: 634px;
	float: left;
}
.btom-l{
	width: 234px;
	height: 614px;
	float: left;
}
.btom-l:hover{
	transform: translateY(-5px);
}
.btom-r{
	width: 978px;
	height: 614px;
	float: right;

}
.btom-r1{
	width: 978px;
	height: 236px;
}
.btom-r2{
	width: 978px;
	height: 236px;
	margin-top:14px;
}
.botm-list{
	width: 234px;
	height: 265px;
	background:#fff;
	padding-top: 34px;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
	
}
.botm-list:hover{
	box-shadow: 0px 8px 13px 3px rgba(170, 170, 170, 0.43);
}
.botm-box{
	width: 100%;
	height: 100px;
	background: rgba(240, 97, 11, 0);
	position: absolute;
	left: 0;
	bottom: -100px;
	transition: all 1s ease;
}
.botm-box span:nth-child(1){
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 36px;
	color: #fff;
	padding: 0 15px;

}
.botm-box span:nth-child(2){
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 12px;
	color:#333;
	padding: 0 15px;
}
.botm-list:hover .botm-box{
	bottom: 0;
	background: rgba(240, 97, 11, 1);
}
.botm-list:hover{
	transform: translateY(-5px);
}


.botm-list-1{
	padding-top: 0;
	height: 299px;
}
.btom-img-top{
	width: 64px;
	height: 20px;
	background: #83c44e;
	text-align: center;
	margin: 0 auto;
	line-height: 20px;
	margin-bottom: 24px;

}
.botm-img{
	width: 150px;
	height: 116px;
	margin: 0 auto;

	
}
.botm-list h3{
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	margin-top: 26px;

}
.botm-list h4{
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #b0b0b0;
	margin-top: 9px;
}
.botm-list h5{
	font-size: 12px;
	text-align: center;
	color: orange;
	line-height: 12px;
	margin-top: 20px;
}
.list1{
	margin-right: 0;
}
.list1:hover{
	transform: none;
}
.list2{
	padding-top: 0;
	height: 299px;
	background: #f5f5f5;
}
span{
	text-decoration: auto;
}
.list-box1 {
	width: 234px;
	height: 145px;
	background:#fff;
	margin-bottom: 9px;
	float: left;
}
.list-box2{
	width: 234px;
	height: 145px;
}
.list-box1-wenzi{
	width: 100px;
	height: 145px;
	float: left;
}
.biaoti3{
	font-family:"黑体";
	font-size: 14px;
	padding-top: 44px;
	padding-left: 30px;
	
}
.biaoti4{
	
	padding-top: 15px;
	
}
.list-box1-img{
	width: 134px;
	height: 145px;
	float: right;
}
.list-box3{
	
	height: 80px;
	background: red;
	margin:32px 20px 31px 34px;
}
.biaoti5{
	font-size: 16px;
}
.biaoti6{
	color: #b0b0b0;
}

.list-box1-img i{
	font-size: 53px;
	line-height: 145px;
	
	color: orange;
	margin: 48px 35px 47px;
}
.btom-zhineng{
	width: 1226px;

}
.btom-zn1{
	width: 1226px;
	
}
.btom-zn2{
	width: 1226px;
}
.botm-list-zn1{
	background-image: url('../img/zhineng1.jpg');
	background-size: 100%;
}
.botm-list-zn2{
	background-image: url('../img/zhineng2.jpg');
	background-size: 100%;
}
.dapei1{
	background-image: url('../img/dp1.jpg');
}
.dapei2{
	background-image: url('../img/dp2.jpg');
}
.peijian1{
	background-image: url('../img/pj1.jpg');
}
.peijian2{
	background-image: url('../img/pj2.jpg');
}
.zhoubian1{
	background-image: url('../img/zb1.jpg');
}
.zhoubian2{
	background-image: url('../img/zb2.jpg');
}

.foryou{
	background: #fff;
}
.tuijian{
	margin-top: 70px;
}


/* 热评产品开始 */
.hot{
	width: 1226px;
	height: 484px;
	
	margin: 0 auto;
}
.hot-top{
	width: 100%;
	height: 48px;
	
}

.hot-top h1{
	font-size: 22px;
	line-height: 48px;
}
.hot-btom{
	width: 1226px;
	height: 435px;
}
.hot-list{
	width: 296px;
	height: 435px;
	background: #fff;
	float: left;
	margin-right: 13px;
}
.hot-list:hover{
	border: 1px solid red;
}
.hot-list1{
margin-right: 0;

}

.hot-img{
	width: 296px;
	height: 220px;

}
.hot-wenzi{
	width: 239px;
	height: 72px;
	margin: 0 auto;
	font-size: 14px;
	margin-top: 34px;

	
}
.hot-list h3{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	margin-top: 32px;
}
.hot-list h4{
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
}
.hot-list h4 span{
	color: orange;
	margin-left: 19px;
}

/* 内容开始 */

.content{
	width: 1226px;
	height: 503px;
	
	margin:0 auto;
	margin-top: 50px;
}
.content-top{
	width: 100%;
	height: 60px;
	
}
.content-top h1{
	font-size: 22px;
	line-height: 60px;
}
/* 内容开始 */
.content-btom{
	width: 1226px;
	height: 420px;
	
}
.content-btom .page{
	width: 296px;
	height: 420px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-right: 14px;
	transition: all .5s;

}
.content-btom .page:hover{
	transform: translateY(-5px);
}
.content-btom .page:hover .r{
	background: rgba(0, 0, 0, .2);
	cursor: pointer;
}
.content-btom  .content-list2{

	margin-right: 0px;
}
.content-btom .page-warp{
	width: 2000px;
	height: 420px;
	transition: all .5s;
}
.content-list{
	width: 296px;
	height: 420px;
	background: #fff;
	border-top: 1px solid lightpink;
	float: left;
}

.content-btom .page .r{
	width: 20px;
	height: 40px;
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 180px;
	text-align: center;
	line-height: 40px;
	transition: all 1s;
	user-select: none;
}
.content-btom .page .zk-l{
	left: 0;
}
.content-btom .page .zk-r{
	right: 0;
}
.content-list h2{
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
	color: orange;
}
.content-list h3{
	font-size: 20px;
	text-align: center;
	margin-top: 25px;

}
.content-list h4{
	font-size: 14px;
	color: #b0b0b0;
	text-align: center;
	margin-top: 12px;
}
.content-list h5{
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}
.content-img{
	width: 216px;
	height: 154px;
	margin: 0 auto;
	transition: 1s;

}	
.content-img img:hover{
	transform: translate(-3px, 0);
}
.content-btom .page-dian{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-btom .page-dian li{
	width: 5px;
	height: 5px;
	background: #333;
	border-radius: 50%;
	margin: 0 10px;

}
.content-btom .page-dian li:hover{
	background: orangered;
}
.content-btom .page-dian li.item{
	width: 8px;
	height: 8px;
	border: 2px solid orange;
	background: #fff;
}












/* 视频开始 */
.vido{
	width: 1226px;
	height: 352px;
	
	margin: 0 auto;
	margin-top: 20px;
}

.vido-top{
	width: 1226px;
	height: 66px;
	
}
.vido-top h1{
	font-size: 22px;
	line-height: 66px;
}
.vido-buttom{
	width: 1226px;
	height: 285px;
	float: left;
}
.vido-btom{
	width: 296px;
	height: 285px;
	background: #fff;
	float: left;
	margin-right: 14px;
}
.vido-list{
	width: 296px;
	height: 180px;
	

}
.vido-btom h3{
	font-size: 16px;
	text-align: center;
	margin-top: 32px;
}
.vido-btom h4{
	font-size: 14px;
	text-align: center;
	margin-top: 14px;
	color: #b0b0b0;
}
.vido-btom1{
	margin-right: 0;
}

/* 结尾开始 */
.foot{
	width: 100%;
	height: 388px;
	background-color: #fff;
	float: left;
	margin-top: 32px;
}
.foot-top{
	width: 1226px;
	margin: 0 auto;
	height: 50px;
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}
.foot-top-nav{
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: left;
	width: 19.8%;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	color: #616161;
}
.foot-top-nav i{
	font-size: 24px;
	line-height: 50px;
	margin-right: 6px;
	vertical-align: -4px;
}
.foot-nav-last{
	border-right: none;
}
.foot-btom{
	width: 1226px;
	margin: 0 auto;
	height: 112px;
	padding: 40px 0;
}
.foot-btom-l{
	float: left;
}
.foot-link{
	width: 160px;
	height: 112px;
	float: left;
}
.foot-link h1{
	font-size: 14px;
	margin-bottom: 26px;
	color: #424242;
}
.foot-link h2{
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
}
.foot-link a{
	display: block;
	color: #757575;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
}
.foot-link a:hover{
	color: #ff6700;
}
.foot-bottom-right{
	width: 251px;
	height: 112px;
	border-left: 1px solid #e0e0e0;
	float: right;
}
.foot-bottom-right h1{
	font-size: 22px;
	margin-bottom: 5px;
	color: #ff6700;
	text-align: center;
}
.foot-bottom-right p{
	font-size: 12px;
	margin-bottom: 16px;
	color: #616161;
	text-align: center;
}
.kefu{
	width: 118px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	margin: 0 auto;
	border: 1px solid #ff6700;
	color: #ff6700;
	text-align: center;
}


#info{
	width: 100%;
	height: 106px;
	padding: 30px 0;
	background-color: #f5f5f5;
}
.info-top{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.info-top .icon{
	margin-top: 0;
	width: 57px;
	height: 57px;
	margin-right: 10px;
}
.info-text{
	float: left;
	font-size: 12px;
}
.link span{
	display: block;
	float: left;
	margin: 0 3px;
	color: #757575;
}
.link a{
	display: block;
	float: left;
	color: #757575;
}
.link a:hover{
	color: #ff6700;
}
.info-top p{
	float: left;
	line-height: 18px;
	font-size: 12px;
	color: #b0b0b0;
}
.info-links{
	float: right;
	height: 28px;
	margin-top: -18.5px;
}
.info-links a{
	display: block;
	float: left;
	margin-left:7px;
	height: 28px; 
}
.info-links img{
	height: 28px;
	width: auto;
}
.info-slogan{
	width: 100%;
	height: 19px;
	margin: 30px auto 0;
	background-image: url('../img/slogan2016.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
